* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: min(25px, 8vh);
    margin-bottom: max(10px, 2vh);
}

header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgLamp img {
    width: max(400px, 30vw);
    height: max(550px, 60vh);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(121px, 18vw);
    height: min(45px, 5vh);
    background-color: rgb(206, 206, 206);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    box-shadow: 1px 1px px rgb(157, 157, 157);
}

.btn button {
    background-color: rgb(243, 243, 243);
    border: grey;
    border-radius: 10px;
    width: max(60px, 9vw);
    height: max(30px, 5vh);
}

.btn button:hover{
    width: max(59px, 8.5vw);
    height: max(30px, 5vh);
    background-color: rgb(235, 233, 233);
    box-shadow: 1px 1px px rgb(99, 99, 99);
}

